<section  data-ng-controller="AuthenticationController">


	
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off" layout = "row">
			<span flex></span>
			<fieldset>
				

				<md-input-container flex>
		          <label>Username</label>
		          <input ng-model="credentials.username" placeholder="Username">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Password</label>
		          <input type = "password" ng-model="credentials.password" placeholder="Password">
		        </md-input-container>

			
				<div layout = "row" layout-align="space-between center">
				<md-button type="submit"  class="md-raised md-primary">Sign In</md-button>
				<a href="/#!/signup">Sign up</a>

				</div>

				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
			<span flex></span>
		</form>
	
</section>