<section  data-ng-controller="AuthenticationController">

	
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off" layout = "row">
			<span flex></span>
			<fieldset>
				

				<md-input-container flex>
		          <label>First Name</label>
		          <input ng-model="credentials.firstName" placeholder="First Name">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Last Name</label>
		          <input ng-model="credentials.lastName" placeholder="Last Name">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Email</label>
		          <input ng-model="credentials.email" placeholder="Email">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Username</label>
		          <input ng-model="credentials.username" placeholder="Username">
		        </md-input-container>

				<md-input-container flex>
		          <label>Password</label>
		          <input type = "password" ng-model="credentials.password" placeholder="Password">
		        </md-input-container>
				
			
		
				<div layout = "row" layout-align="space-between center">
					<md-button type="submit"  class="md-raised md-primary">Sign Up</md-button>
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
			<span flex></span>
		</form>
	
</section>