<section data-ng-controller="SettingsController">
	
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)"  autocomplete="off" class = "md-padding" layout = "row">
			<span flex></span>
			<fieldset >
				

				<md-input-container flex>
		          <label>First Name</label>
		          <input ng-model="user.firstName" placeholder="First Name">
		        </md-input-container>

			

				<md-input-container flex = "20">
		          <label>Last Name</label>
		          <input ng-model="user.lastName" placeholder="Last Name">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Last Name</label>
		          <input ng-model="user.lastName" placeholder="Last Name">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Email</label>
		          <input ng-model="user.email" placeholder="Email">
		        </md-input-container>

		        <md-input-container flex>
		          <label>Username</label>
		          <input ng-model="user.username" placeholder="Username">
		        </md-input-container>

				<md-button type="submit"  class="md-raised md-primary">Save Profile</md-button>

		

				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</fieldset>
			<span flex></span>
		</form>
	
</section>